<div class="p-4">
  <div class="grid gap-3 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
    @for (acc of account; track acc.id) {
      <p-card
        class="shadow-md rounded-xl border border-surface-200 dark:border-surface-700"
        [header]="acc.name"
        [subheader]="acc.accountType | titlecase"
      >
        <div class="text-sm text-gray-600 dark:text-gray-300 mt-2">
          <p>
            <strong>Saldo:</strong>
            <span class="text-lg font-medium text-primary">
              {{ acc.balance | currency:'BRL' }}
            </span>
          </p>
          <p class="mt-1">
            <strong>Transações:</strong> {{ acc.transactions.length }}
          </p>
        </div>

        <ng-template pTemplate="footer">
          <p class="text-xs text-gray-400 mt-2">
            Atualizado: {{ acc.updatedAt | date:'short' }}
          </p>
        </ng-template>
      </p-card>
    }
  </div>
</div>
